{% load custom_filters %}

<!-- Head Section -->
{% include 'myApp/partials/_head.html' %}

<!-- Hero Section -->
{% include 'myApp/partials/_hero.html' %}

<!-- Who This Space Is For -->
{% include 'myApp/partials/_who_she_mentors.html' %}

<!-- 1:1 Guidance Section -->
{% include 'myApp/partials/_mentorship.html' %}

<!-- About Section -->
{% include 'myApp/partials/_about.html' %}

<!-- Books Section -->
{% include 'myApp/partials/_books.html' %}

<!-- Decades Timeline -->
{% include 'myApp/partials/_decades_timeline.html' %}

<!-- Lion Section -->
{% include 'myApp/partials/_lion_section.html' %}

<!-- Human Behind the Work -->
{% include 'myApp/partials/_human_behind_work.html' %}

<!-- Call To Action -->
{% include 'myApp/partials/_cta.html' %}

<!-- Contact Section -->
{% include 'myApp/partials/_contact.html' %}

<!-- Footer -->
{% include 'myApp/partials/_footer.html' %}

<!-- Chatbot -->
{% include 'myApp/partials/_chatbot.html' %}

<!-- Scripts -->
{% include 'myApp/partials/_scripts.html' %}
